<h1><%= @restaurant.name %></h1>

<p>Address: <%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
<p>*******************************</p>
<p>Reviews: </p>
  <ul><% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> <%= review.rating%><span>/5</span></li>
  <% end %>
  </ul>
<p>*******************************</p>
<p>Add review:</p>
<%= form_for [@restaurant, @restaurant.reviews.build] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :rating %>
  <%= f.select :rating, ['1', '2', '3', '4', '5'], :prompt => 'select one'  %>

  <%= f.submit %>

<% end %>






<%= link_to 'back', restaurants_path %>